<script src=”https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
	$(function(){
var socket=io.connect('http://52.14.161.145');
});	
</script>
<h1 style="color: red;font-size: 80px;text-align:center;"><%= username%></h1>
<script src=”http://code.jquery.com/jquery-latest.min.js"></script>
